@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --dark-blue: #0A1128;
  --dark-yellow: #787838;
  --dark-gold: #855325;
  --white: #FFF;
  --border-color: #EEE;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  color: var(--dark-blue);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 5.5rem;
}
h3 {
  font-size: 5rem;
}
h4 {
  font-size: 4.5rem;
}
h5 {
  font-size: 4rem;
}
h6 {
  font-size: 3.5rem;
}

a, a:hover {
  text-decoration: none;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

section, .section {
  min-height: 100vh;
}

.main-bg {
  background-image: url('./../img/bg.svg');
  background-size: cover;
  background-position: center center;
  color: var(--white);
}

aside {
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-bottom: .1rem solid var(--border-color);
}

.v-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h2 {
  font-size: 2.3rem;
  color: var(--dark-blue);
}

.logo h2 a {
  color: inherit;
}

ul {
  list-style: none;

  display: flex;
}

ul li a {
  display: block;
  color: var(--dark-blue);
  padding: 2rem;
  font-size: 1.8rem;
  color: var(--dark-blue);
}

